test/
build/
dist/
node_modules/

.env*

README.md
.git/

docker-compose*.yml
Dockerfile*

.nvmrc
.prettierrc
.eslintrc.js

.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.DS_Store
.vscode/*

